<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.api.mapper.GraduatesMapper">
    <update id="update">
        update graduates
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="avatar != null and avatar != ''">avatar = #{avatar}</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteBatch">
        delete from graduates
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="pageQuery" resultType="com.web.api.pojo.Graduate">
        select id,name,gender,avatar
        from graduates
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
        </where>
    </select>

</mapper>