<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.api.mapper.ResearchDirectionMapper">
    <insert id="addDirection">
        insert into
            research_direction (title, image, time)
        values
            (#{title}, #{image}, #{time})
    </insert>

    <update id="motifyDirectionById">
        update research_direction
        <set>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteDirectionById">
        delete from
            research_direction
        where
            id = #{id}
    </delete>

    <select id="getAllDirections" resultType="com.web.api.pojo.ResearchDirection">
        select *
        from research_direction
        where
            title like concat('%', #{name}, '%')
    </select>

    <select id="getDirectionById" resultType="com.web.api.pojo.ResearchDirection">
        select *
        from
            research_direction
        where
            id = #{id}
    </select>
    <select id="getImageUrlById" resultType="java.lang.String">
        select
            image
        from
            research_direction
        where
            id = #{id}
    </select>

    <select id="existsById" resultType="java.lang.Boolean">
        select
            exists(
                select 1
                from
                    research_direction
                where
                    id = #{id}
                )
    </select>
</mapper>