<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.api.mapper.TeamDynamicMapper">
    <select id="getAllDynamics" resultType="com.web.api.pojo.TeamDynamic">
        select *
        from web.team_dynamic
    </select>
    <select id="getNewDynamic" resultType="com.web.api.pojo.TeamDynamic">
        select *
        from web.team_dynamic
        order by time DESC
        limit #{num}
    </select>
    <delete id="deleteDynamics" >
        delete  from web.scientific_dynamic where id = #{id}
    </delete>
    <update id="updateTeamDynamics">
        UPDATE scientific_dynamic
        <set>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="detail != null and detail != ''">detail = #{detail},</if>
        </set>
        Where id =#{id}
    </update>
    <select id="pageQuery" resultType="com.web.api.pojo.TeamDynamic">
        select * from web.scientific_dynamic
        <where>
            <if test="title != null and tile !='' ">
                and title like concat('%',#{title},'%')
            </if>
        </where>
    </select>
</mapper>