<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.api.mapper.UserMapper">
    <insert id="addUser">
        insert into user(username, password, salt, identity)
        values(#{username}, #{password},#{salt}, #{identity})
    </insert>

    <select id="findUserByName" resultType="com.web.api.pojo.User">
        select *
        from user
        where username = #{username}
    </select>

    <select id="findIdNameIdentityByName" resultType="com.web.api.pojo.JwtData">
        select id, username, identity
        from user
        where username = #{name}
    </select>
</mapper>

